

.header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.principal{
  margin: 0;
  
}
.secundario{
 font-size: 16px;
 color: gray;
margin: 0;
}
#titular{
margin: 0;
}
.column{
    display: flex;
    flex-direction: column;
}
#div-des{
    position: relative; 
    left: 50px; 
    top: 20px;  

}

.td-align{
    text-align: center;
}
